{% extends "base.html" %}

{% block content %}
    
    <div class="chat">

        <div id="BoxMessage"></div>
        <div class="input-group mt-3">
            <input type="text" class="form-control" id="InputMessage" placeholder="Write a messages...">
            <button class="input-group-text btn btn-primary" id="ButtonMessage">Send</button>
        </div>
    </div>

    <script>

        var user = '{{ request.user }}'

        var url = 'ws://'+window.location.host+'/ws/chat/room/{{ room.id }}'

        var chatSocket = new WebSocket(url)

        //***message

        document.querySelector('#ButtonMessage').addEventListener("click",sendMessage)
        document.querySelector('#InputMessage').addEventListener("keypress", function(e){
            if(e.keyCode == 13){
                sendMessage()
            }
        })
         
        function sendMessage(){
            message = document.querySelector("#InputMessage")

            if(message.value.trim() !== ''){
                chatSocket.send(JSON.stringify({ 'message': message.value.trim() }))
            }

            message.value = ''
        }

        //***message

        chatSocket.onopen = function(e){
            console.log('Channels WS is Open!')
        }

        chatSocket.onmessage = function(data){

            var data = JSON.parse(data.data)
            console.log(data)
            var msj = data.message
            var username = data.username
            var datetime = data.datetime

            boxMessage = document.querySelector("#BoxMessage")

            var customClass = 'alert-success mr-5'
            if(user != username){
                var customClass = 'alert-warning ml-5'
            }

            boxMessage.innerHTML += `
            <div class="alert ${customClass} mt-3">
                ${msj}
                <small class='fst-italic'>${username}</small>
                <small class='float-end'>${datetime}</small>
            </div>
            `
        }

        chatSocket.onclose = function(e){
            console.log('Channels WS is Close!')
        }



    </script>

{% endblock  %}